/* Global Classes */

.root {
	-fx-font-family: "Poppins Semibold"
}

.bold {
	-fx-font-weight: bold;
}

.main-title {
	-fx-font-size: 30px;
}

.title {
	-fx-font-size: 20px;
}

.background-white {
	-fx-background-color: white;
}

.background-transparent {
	-fx-background-color: white;
}

.scroll-pane {
   -fx-background: white;
   -fx-background-color: white;
}

.text-white {
	-fx-text-fill: white
}

.btn {
	-fx-background-color: white;
	-fx-background-radius: 15px;
	-fx-border-color: #d16ba5;
	-fx-text-fill: #d16ba5;
	-fx-border-radius: 15px;
}

.btn:hover {
	-fx-cursor: hand;
	-fx-background-color: #d16ba5;
	-fx-text-fill: white;
}

.btn-primary {
	-fx-background-color: #d16ba5;
	-fx-background-radius: 15px;
	-fx-border-color: #d16ba5;
	-fx-text-fill: white;
	-fx-border-radius: 15px;
}

.btn-primary:hover {
	-fx-cursor: hand;
	-fx-background-color: #a84f8d;
	-fx-border-color: #a84f8d;
}

/* ScrollBar styling */
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #d16ba5;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
      -fx-background-color: transparent;
}

/* Pagination styling */
/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #d16ba5;
    -fx-text-fill: white;
}

/* ComboBox styling */
.combo-box {
	-fx-border-width: 0.5px;
	-fx-border-color: #d16ba5;
	-fx-background-color: white;
	-fx-padding: 0px;
}
.combo-box:hover {
	-fx-cursor: hand;
	-fx-text-fill: white;
}

.combo-box-base:hover {
	-fx-cursor: hand;
	-fx-border-color: #d16ba5;
	-fx-background-color: #d16ba5; 
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
	-fx-padding: 5px;
    -fx-background-color: white;
    -fx-text-fill: black;
}
.combo-box .combo-box-popup .list-cell:hover {
	-fx-cursor: hand;
    -fx-text-fill: white;
    -fx-background-color: #d16ba5 ;
}